body {
	font-size: 100%;
    background: #042f3c;
}

a {
    text-decoration: none;
    color: black;
}


.acc-title {
    color: white;
    text-align: center;
}


.top-container {
    display: flex;
    justify-content: flex-start;
    height: 75px;
    /* position: absolute; */
    
}

.top-content {
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 75px;
    

}

.top-content a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.top-content a:nth-child(n+2) {
    padding-left: 25px;
}

.top-content input {
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
    width: 400px;
    margin-left: 50px;

}

.top-content >  a {
    transition: ease-in-out .5s;
}

.top-content > a:hover {
    transition: ease-in-out .5s;
    transform: scale(1.5);
    color: #E33A1C;
}


.line-space {
    width: 70%;
    border: 0;
    height: 1px;
    margin-top: 50px;
    background: white;
    background-image: linear-gradient(to right, rgba(0,0,0,0), grey, #10dfef, grey, rgba(0,0,0,0));
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    padding-top: 65px;
  }
  
.content {
width: 25%;
background: rgba(214, 206, 206, 0.7);
}

.content:hover {
    background: rgba(214,206,206,0.3);
    
}
